{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="alert alert-primary shadow-sm">
        <h1 class="h3">Admin Dashboard</h1>
        <p>Welcome, <strong>{{ app.user.userIdentifier }}</strong>. You are in the Administrative area.</p>
    </div>
    <a href="{{ path('app_logout') }}" class="btn btn-outline-primary">Logout</a>
</div>
{% endblock %}