<header class="navbar navbar-light bg-white p-3 shadow-sm border-bottom">
    <div id="openSidebarBox">
        <button class="btn btn-dark btn-sm" id="openSidebarBtn"> ← Open Sidebar</button>
    </div>
    
    <div class="ms-auto text-end">
        <small class="text-muted d-block">Sovereign Admin</small>
        <strong>{{ app.user.userIdentifier }}</strong>
    </div>
</header>